### Import statements

In [17]:
import pandas as pd 
from sklearn.model_selection import train_test_split

In [18]:
df = pd.read_csv("dataFinal.csv")

In [19]:
x = pd.get_dummies(df.drop(["Churn"], axis = 1))

In [20]:
y = df["Churn"].apply(lambda x: 1 if x == "YES" else 0)

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = .2)

In [22]:
x_train.head()

,Difference,Average rate of return,Symbol_A,Symbol_AA,Symbol_AAC,Symbol_AACG,Symbol_AACI,Symbol_AADI,Symbol_AAIC,Symbol_AAL,...,Stock past Price_98.97,Stock past Price_99.05,Stock past Price_99.09,Stock past Price_99.20,Stock past Price_99.32,Stock past Price_99.46,Stock past Price_99.49,Stock past Price_99.77,Stock past Price_99.81,Unnamed: 35_
4275,0.14,1.262857,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4424,-2.64,-16.032857,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2183,7.50,9.404286,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4589,-1.30,11.160000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5567,1.37,-2.818571,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
y_train.head()

4275    0
4424    0
2183    0
4589    0
5567    0
Name: Churn, dtype: int64

### Import Dependencies

In [24]:
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense 
from sklearn.metrics import accuracy_score

### Build and Compile

In [25]:
model = Sequential()
model.add(Dense(units = 32, activation = "relu", input_dim = len(x_train.columns)))
model.add(Dense(units = 64, activation = "relu"))
model.add(Dense(units = 1, activation = "sigmoid"))

In [26]:
model.compile(loss = "binary_crossentropy", optimizer = "sgd", metrics = "accuracy")

### Fit and Predict

In [27]:
model.fit(x_train, y_train, epochs = 20, batch_size = 32)

Epoch 1/20
153/153 [==============================] - 3s 17ms/step - loss: nan - accuracy: 0.8260
Epoch 2/20
153/153 [==============================] - 3s 17ms/step - loss: nan - accuracy: 0.8334
Epoch 3/20
153/153 [==============================] - 3s 17ms/step - loss: nan - accuracy: 0.8334
Epoch 4/20
153/153 [==============================] - 3s 17ms/step - loss: nan - accuracy: 0.8334
Epoch 5/20
153/153 [==============================] - 3s 17ms/step - loss: nan - accuracy: 0.8334
Epoch 6/20
153/153 [==============================] - 3s 18ms/step - loss: nan - accuracy: 0.8334
Epoch 7/20
153/153 [==============================] - 3s 17ms/step - loss: nan - accuracy: 0.8334
Epoch 8/20
153/153 [==============================] - 2s 16ms/step - loss: nan - accuracy: 0.8334
Epoch 9/20
153/153 [==============================] - 3s 19ms/step - loss: nan - accuracy: 0.8334
Epoch 10/20
153/153 [==============================] - 3s 19ms/step - loss: nan - accuracy: 0.8334
Epoch 11/20
153/153 [==============================] - 3s 17ms/step - loss: nan - accuracy: 0.8334
Epoch 12/20
153/153 [==============================] - 3s 17ms/step - loss: nan - accuracy: 0.8334
Epoch 13/20
153/153 [==============================] - 3s 17ms/step - loss: nan - accuracy: 0.8334
Epoch 14/20
153/153 [==============================] - 3s 17ms/step - loss: nan - accuracy: 0.8334
Epoch 15/20
153/153 [==============================] - 3s 18ms/step - loss: nan - accuracy: 0.8334
Epoch 16/20
153/153 [==============================] - 3s 17ms/step - loss: nan - accuracy: 0.8334
Epoch 17/20
153/153 [==============================] - 3s 17ms/step - loss: nan - accuracy: 0.8334
Epoch 18/20
153/153 [==============================] - 3s 17ms/step - loss: nan - accuracy: 0.8334
Epoch 19/20
153/153 [==============================] - 3s 18ms/step - loss: nan - accuracy: 0.8334
Epoch 20/20
153/153 [==============================] - 3s 18ms/step - loss: nan - accuracy: 0.8334

In [28]:
y_hat = model.predict(x_test)
y_hat = [0 if val < 0.5 else 1 for val in y_hat]

39/39 [==============================] - 0s 8ms/step

### Saving the model

In [29]:
model.save("financialModel")

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: financialModel/assets

INFO:tensorflow:Assets written to: financialModel/assets

In [ ]:
model = load_model("fi")